*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: rgb(172, 83, 199);
}
.container{
    width: 445px;
    background: #fff;
    border-radius: 10px;
}

.container p{
    font-size: 1.5rem;
    font-weight: 500;
}
.container .icons span{
    height: 38px;
    width: 38px;
    margin: 0 1px;
    color: #878787;
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
    line-height: 38px;
    
}

.container .icons span:hover{
    background: #f2f2f2;
}
.container .icons span:last-child{
    margin-left: -10px;

}
.container header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 30px 10px;
}
.calendar {
    padding: 20px;
}
.calendar ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    text-align: center;
}
.calendar ul li{
    position: relative;
    width: calc(100% / 7);
}

.calendar .days{
    margin-bottom: 20px;
}

.calendar .weeks li{
    font-weight: 500;
}

.calendar .days li{
    z-index: 1;
    cursor: pointer;
    margin-top:30px;
}
.days li.inactive{
    color: #aaa;
    
    